extends layout.pug

block content
    .citas-container
        h1 Lista de Citas

        if citas.length
            table
                thead
                    tr
                        th Paciente
                        th Fecha
                        th Hora
                        th Servicio
                tbody 
                    each cita in citas
                        tr
                            td= cita.nombre 
                            td= cita.fecha
                            td= cita.hora
                            td= cita.servicio
        else
            p No hay citas agendadas.

        .agendar-cita
            a(href="/citas/nueva") Agendar nueva cita